* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

/* 黑色导航 start */
.black-nav {
  width: 100%;
  height: 40px;
  line-height: 40px;/*只有一排文字，就用line-height居中*/
  background-color: #333;
  font-size: 12px;
}
.black-nav .wrap {
  width: 1226px;
  margin: 0 auto;
}

.black-nav-left {
  float: left;
}

.black-nav-right {
  float: right;
}

.black-nav .wrap li {
  float: left;
  position: relative;
}

.black-nav a {
  color: #b0b0b0;
}

.black-nav li span {
  color: #424242;
  margin: 0 3.6px;
}

.download {
  width: 124px;
  height: 0;
  background: #fff;
  box-shadow: 0 1px 5px #aaa;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  overflow: hidden;
}

.download img {
  width: 90px;
  margin: 18px 18px 0 18px;
}

.download p {
  color: #333;
  font-size: 14px;
  line-height: 14px;
  margin: auto 18px;
}

.black-nav-left >li:hover >.download {
  height: 148px;
}

.san {
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  display: none;
}

.black-nav-left>li:hover>.san {
  display: block;
}

.cart {
  width: 120px;
  height: 40px;
  background-color: #424242;
  margin-left: 25px;
  text-align: center;
}

.cart:hover {
  background-color: #fff;
}

.cart:hover>a {
  color: #ff6700;
}

.cart i {
  font-size: normal;
  margin-right: 8px;
}

.cart-list {
  width: 316px;
  height: 0;
  background: #fff;
  box-shadow: 0 2px 10px rgb(0,0,0,0.15);
  position: absolute;
  right: 0;
  top: 40px;
  color: #424242;
  overflow: hidden;
  line-height: 100px;
  text-align: center;
}

.cart:hover >.cart-list{
  height: 100px;
}
/* 黑色导航 end */




\
